:root {
    --color1: #0A1128;
    --color2: #001F54;
    --color3: #034078;
    --color4: #1282A2;
    --color5: #FEFCFB;
    --color6: #5FAD56;
    --color7: #F78154;
    --color8: #4D9078;
    --color9: #B4436C;
    --color10: #F2C14E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

input{
    border: none;
    outline: none;
    background: none;
}

input:focus{
    border: none;
    outline: none;
}

button {
    background: none;
    border: none;
}