<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookApp - Library</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>

    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/main-style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/add-book-style.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/main-style.css" type="text/css">
    <link rel="stylesheet" href="/css/add-book-style.css" type="text/css">

</head>
<body>
    <div class="container flexbox-center">
        <div class="header flexbox-center">
            <span class="logo flexbox-center">
                <img src="../static/img/logo.png" alt="logo">
                <h1>
                    <a href="">BookApp</a>
                </h1>
            </span>
            <form action="" method="get" class="flexbox-center">
                <input type="search" name="searchBook" id="searchBook" placeholder="Search for book">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="mainContent flexbox-center">
            <div class="mainContentLeft">
                <ul class="sidenav flexbox-center">
                    <li>
                        <a th:href="@{/users/library}">Library</a>
                    </li>
                    <li>
                        <a href="">Profile</a>
                    </li>
                </ul>
                <ul class="sidenav options flexbox-center">
                    <li>
                        <a th:href="@{/books/addBook}">Add Book</a>
                    </li>
                </ul>
                <span class="username flexbox-center">
                    Username
                </span>
            </div>
            <div class="mainContentRight flexbox-center">
                
                <div class="formContainer">
                    <div class="formHeader flexbox-center">
                        <h1>Add new book to your library</h1>        
                    </div>
                    <form action="" method="get" class="formInputs flexbox-center">
                        <input type="url" name="scrapUrl" id="scrapUrl" required maxlength="59" placeholder="Url to site...">
                        <input type="button" value="Get Data">
                    </form>

                    <form action="" method="post" class="formInputs flexbox-center">
                        

                        <input type="text" name="title" id="title" required maxlength="240" placeholder="Title" value="">

                        <input type="text" name="author" id="author" required maxlength="120" placeholder="Author" value="">

                        <input type="text" name="Publisher" id="Publisher" required maxlength="120" placeholder="Publisher" value="">
                        
                        <input type="date" name="Release Date" id="Release Date" required maxlength="59" placeholder="Release Date" value="">
    
                        <input type="text" name="Series" id="Series" required maxlength="240" placeholder="Series" value="">
                        
                        <input type="text" name="ISBN" id="ISBN" required maxlength="20" placeholder="ISBN" value="">

                        <input type="text" name="Category" id="Category" required maxlength="240" placeholder="Category" value="">

                        <input type="text" name="coverUrl" id="coverUrl" required maxlength="320" placeholder="coverUrl" value="">
            
            
                        <input type="button" value="Add Book">
                    </form>
                </div>

                

            </div>
        </div>
    </div>
</body>
</html>