<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookApp - Library</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>

    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/library-style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/main-style.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/library-style.css" type="text/css">
    <link rel="stylesheet" href="/css/main-style.css" type="text/css">
</head>
<body>
    <div class="container flexbox-center">
        <div class="header flexbox-center">
            <span class="logo flexbox-center">
                <img src="../static/img/logo.png" alt="logo">
                <h1>
                    <a href="">BookApp</a>
                </h1>
            </span>
            <form action="" method="get" class="flexbox-center">
                <input type="search" name="searchBook" id="searchBook" placeholder="Search for book">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="mainContent flexbox-center">
            <div class="mainContentLeft">
                <ul class="sidenav flexbox-center">
                    <li>
                        <a th:href="@{/users/library}">Library</a>
                    </li>
                    <li>
                        <a href="">Profile</a>
                    </li>
                </ul>
                <ul class="sidenav options flexbox-center">
                    <li>
                        <a th:href="@{/books/addBook}">Add Book</a>
                    </li>
                </ul>
                <span class="username flexbox-center">
                    Username
                </span>
            </div>
            <div class="mainContentRight flexbox-center">
                <!-- <div class="book flexbox-center" th:each="book : ${books}">
                    <img th:src="@{${book.coverUrl}}" alt="img" class="book-img">
                    <div class="book-info flexbox-center">
                        <span class="title" th:text="${book.title}"></span>
                        <span>
                            Author: <span class="author" th:text="${book.author}"></span>
                        </span>
                        <span>
                            Publisher: <span class="publisher" th:text="${book.publisher}"></span>
                        </span>
                        <span>
                            Release date: <span class="release" th:text="${book.releaseDate}"></span>
                        </span>
                        <span>
                            Series: <span class="series" th:text="${book.series}"></span>
                        </span>
                        <span>
                            ISBN: <span class="isbn" th:text="${book.isbn}"></span>
                        </span>
                        <span>
                            Kategoria: 
                            <span class="tags" th:text="${book.category}">
                                <span ></span>
                            </span>
                        </span>
                    </div>
                </div> -->

                <div class="book flexbox-center" th:each="book : ${books}">
                    <img src="https://s.lubimyczytac.pl/upload/books/240000/240310/1114358-352x500.jpg" alt="img" class="book-img">
                    <div class="book-info flexbox-center">
                        <span class="title" th:text="${book.title}">Ostatnie życzenie</span>
                        <span>
                            Author: <span class="author" th:text="${book.author}">Andrzej Sapkowski</span>
                        </span>
                        <span>
                            Publisher: <span class="publisher" th:text="${book.publisher}">SuperNowa</span>
                        </span>
                        <span>
                            Release date: <span class="release" th:text="${book.releaseDate}">2014-09-25</span>
                        </span>
                        <span>
                            Series: <span class="series" th:text="${book.series}">Wiedźmin Geralt z Rivii (tom 1)</span>
                        </span>
                        <span>
                            ISBN: <span class="isbn" th:text="${book.isbn}">9788375780635</span>
                        </span>
                        <span>
                            Kategoria: 
                            <span class="tags" th:text="${book.category}">
                                <span >Fantasy</span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="book flexbox-center" th:each="book : ${books}">
                    <img src="https://s.lubimyczytac.pl/upload/books/240000/240310/1114358-352x500.jpg" alt="img" class="book-img">
                    <div class="book-info flexbox-center">
                        <span class="title" th:text="${book.title}">Ostatnie życzenie</span>
                        <span>
                            Author: <span class="author" th:text="${book.author}">Andrzej Sapkowski</span>
                        </span>
                        <span>
                            Publisher: <span class="publisher" th:text="${book.publisher}">SuperNowa</span>
                        </span>
                        <span>
                            Release date: <span class="release" th:text="${book.releaseDate}">2014-09-25</span>
                        </span>
                        <span>
                            Series: <span class="series" th:text="${book.series}">Wiedźmin Geralt z Rivii (tom 1)</span>
                        </span>
                        <span>
                            ISBN: <span class="isbn" th:text="${book.isbn}">9788375780635</span>
                        </span>
                        <span>
                            Kategoria: 
                            <span class="tags" th:text="${book.category}">
                                <span >Fantasy</span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="book flexbox-center" th:each="book : ${books}">
                    <img src="https://s.lubimyczytac.pl/upload/books/240000/240310/1114358-352x500.jpg" alt="img" class="book-img">
                    <div class="book-info flexbox-center">
                        <span class="title" th:text="${book.title}">Ostatnie życzenie</span>
                        <span>
                            Author: <span class="author" th:text="${book.author}">Andrzej Sapkowski</span>
                        </span>
                        <span>
                            Publisher: <span class="publisher" th:text="${book.publisher}">SuperNowa</span>
                        </span>
                        <span>
                            Release date: <span class="release" th:text="${book.releaseDate}">2014-09-25</span>
                        </span>
                        <span>
                            Series: <span class="series" th:text="${book.series}">Wiedźmin Geralt z Rivii (tom 1)</span>
                        </span>
                        <span>
                            ISBN: <span class="isbn" th:text="${book.isbn}">9788375780635</span>
                        </span>
                        <span>
                            Kategoria: 
                            <span class="tags" th:text="${book.category}">
                                <span >Fantasy</span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="book flexbox-center" th:each="book : ${books}">
                    <img src="https://s.lubimyczytac.pl/upload/books/240000/240310/1114358-352x500.jpg" alt="img" class="book-img">
                    <div class="book-info flexbox-center">
                        <span class="title" th:text="${book.title}">Ostatnie życzenie</span>
                        <span>
                            Author: <span class="author" th:text="${book.author}">Andrzej Sapkowski</span>
                        </span>
                        <span>
                            Publisher: <span class="publisher" th:text="${book.publisher}">SuperNowa</span>
                        </span>
                        <span>
                            Release date: <span class="release" th:text="${book.releaseDate}">2014-09-25</span>
                        </span>
                        <span>
                            Series: <span class="series" th:text="${book.series}">Wiedźmin Geralt z Rivii (tom 1)</span>
                        </span>
                        <span>
                            ISBN: <span class="isbn" th:text="${book.isbn}">9788375780635</span>
                        </span>
                        <span>
                            Kategoria: 
                            <span class="tags" th:text="${book.category}">
                                <span >Fantasy</span>
                            </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>