<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookApp - Login</title>

    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div class="container flexbox-center">
        <form action="" method="post" class="flexbox-center">
            <div class="formHeader flexbox-center">

                <h1>Welcome in BookApp</h1>

                <img src="img/logo.png" alt="logo">

            </div>
            <div class="formInputs flexbox-center">

                <input type="email" name="username" id="username" required maxlength="59" placeholder="Email">

                <input type="password" name="password" id="password" required maxlength="29" placeholder="Password">

                <input type="button" value="Login">

                <span class="registerUrl">
                    <span>Don't have an account? </span>
                    <a href="">Sign up</a>
                </span>

            </div>
        </form>
        <!-- <footer>
            <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Smashicons - Flaticon</a>
        </footer> -->
    </div>
</body>
</html>