<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>BookApp - Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
   
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/login-style.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/login-style.css" type="text/css">
</head>
<body>
    <div class="container flexbox-center">
        <form action="" method="post" class="flexbox-center">
            <div class="formHeader flexbox-center">

                <h1>Welcome in BookApp</h1>

                <img src="../static/img/logo.png" alt="logo">

            </div>
            <div class="formInputs flexbox-center">

                <input type="text" name="username" id="username" required maxlength="59" placeholder="Username">
                
                <input type="password" name="password" id="password" required maxlength="29" placeholder="Password">

                <input type="button" value="Login">

                <span class="registerUrl">
                    <span>Don't have an account? </span>
                    <a href="">Sign up</a>
                </span>

            </div>
        </form>
        <!-- <footer>
            <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Smashicons - Flaticon</a>
        </footer> -->
    </div>
</body>
</html>