<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookApp - Library</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>

    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/main-page-style.css" type="text/css">
</head>
<body>
    <div class="container flexbox-center">
        <div class="header flexbox-center">
            <span class="logo flexbox-center">
                <img src="../static/img/logo.png" alt="logo">
                <h1>
                    <a href="">BookApp</a>
                </h1>
            </span>
            <form action="" method="get" class="flexbox-center">
                <input type="search" name="searchBook" id="searchBook" placeholder="Search for book">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="mainContent flexbox-center">
            <div class="mainContentLeft">
                <ul class="sidenav flexbox-center">
                    <li>
                        <a href="">Library</a>
                    </li>
                    <li>
                        <a href="">Profile</a>
                    </li>
                </ul>
                <span class="username flexbox-center">
                    Username
                </span>
            </div>
            <div class="mainContentRight">
                
            </div>
        </div>
       
    </div>
</body>
</html>